* {
  box-sizing: border-box;
}
body {
  background-color: #8e44ad;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: #fff;
}

.count {
  text-align: center;
  padding: 50px;
}
.counter-container {
  display: flex;

  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}
