* {
  box-sizing: border-box;
}
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  background-color: #fafafa;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.magic {
  background-color: #f9ca24;
  color: #fff;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  letter-spacing: 1px;
  box-shadow: 0 3px rgba(249, 202, 36, 0.5);
  z-index: 100;
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: none;
    transform: translateY(2px);
  }
}
.boxes {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: 0.4s ease;
}

.box {
  background-image: url(https://media.giphy.com/media/2eHyl5MMV68oM/giphy.gif);
  width: 125px;
  height: 125px;
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  transition: 0.4s ease;
}
.boxes.big {
  width: 600px;
  height: 600px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box::after {
  content: "";
  background-color: #f6e58d;
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}
.box::before {
  content: "";
  background-color: #f9ca24;
  position: absolute;
  bottom: -15px;
  left: 8px;
  width: 100%;
  height: 15px;
  transform: skewX(45deg);
}
